---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/root-layout.astro'

const docsEntries = await getCollection('docs')
---

<Layout title="Docs Index layout">
  <ul>
    {
      docsEntries.map((blogPostEntry) => (
        <li>
          <a href={`/docs/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
