---
import RootLayout from '@/layouts/root-layout.astro'
import { ColorsToggle } from '@/components/react/colors-toggle'
import PageHeader from '@/components/page-header.astro'
---

<RootLayout title="Solstice Styles">
  <main>
    <PageHeader
      title="Styles"
      subtitle="Styles are the visual aspects of a UI that give it a distinct look and feel. They can be customized by changing your Material theme."
      img={{
        default:
          'https://lh3.googleusercontent.com/-3U4GA9CsYQZvdlgoW8DciDLwCgFQaPeo0bE5mP5GWfe0FMKgg5O5pesWpDXGocuTc7qdkkmfC9-cFOWi6Swq5KAtqLpr-k5YI3VsQQGTQnH_O5vUeQ=w2400-rj',
        dark: 'https://lh3.googleusercontent.com/HlbnJmSX9lPKAzw3PIgcWlotRXK1gKby51ni9mjugFHiOuDQSCNKXP6hQWW053Z_SpyIoD-J-XPCCGB03IrdCmC7NkzLQgJgNUXv10BIW99PWRZjtRI=w2400-rj',
      }}
    />
    <ColorsToggle client:idle />
  </main>
</RootLayout>
