---
import RootLayout from '@/layouts/root-layout.astro'
import { ColorFormatSelector } from '@/components/react/color-format-selector'
import { ColorsPalettes } from '@/components/react/colors-palettes'
import { ColorsToggle } from '@/components/react/colors-toggle'
import { CopyPaletteButton } from '@/components/react/copy-palette-button'
import ContentContainer from '@/components/content-container.astro'
import PageHeader from '@/components/page-header.astro'
---

<RootLayout title="Snow Cone Theme">
  <ContentContainer>
    <PageHeader
      title="Theme"
      subtitle="Create accessible, personal color schemes communicating your product's hierarchy, state, and brand."
      img={{
        default:
          'https://lh3.googleusercontent.com/-3U4GA9CsYQZvdlgoW8DciDLwCgFQaPeo0bE5mP5GWfe0FMKgg5O5pesWpDXGocuTc7qdkkmfC9-cFOWi6Swq5KAtqLpr-k5YI3VsQQGTQnH_O5vUeQ=w2400-rj',
        dark: 'https://lh3.googleusercontent.com/HlbnJmSX9lPKAzw3PIgcWlotRXK1gKby51ni9mjugFHiOuDQSCNKXP6hQWW053Z_SpyIoD-J-XPCCGB03IrdCmC7NkzLQgJgNUXv10BIW99PWRZjtRI=w2400-rj',
      }}
    />
    <div
      class="sticky top-0 z-50 flex items-center justify-end gap-4 bg-background py-3"
    >
      <ColorFormatSelector client:idle />
      <CopyPaletteButton client:idle />
    </div>
    <div class="relative flex flex-col gap-10">
      <ColorsToggle client:visible />
      <ColorsPalettes client:visible />
    </div>
  </ContentContainer>
</RootLayout>
