---
import Logo from '@/components/logo.astro'
---

<header class="fixed top-0 z-50 w-full bg-surface md:hidden">
  <div class="container flex h-16 items-center justify-between">
    <div class="flex items-center gap-2">
      <Logo class="block h-8 text-primary" />
    </div>
  </div>
</header>
