---
import Logo from '@/components/logo.astro'
---

<header class="bg-background sticky z-50 top-0 w-full">
  <div class="container flex items-center justify-between h-16">
    <div>
      <Logo small class="block h-8 sm:hidden" />
      <Logo class="hidden h-8 sm:block" />
    </div>
  </div>
</header>
