<div
  class={`step last:bg-0 border-l pb-8 pl-8 last:border-l-0 
  [&>h3]:!mt-0 [&>h3]:!text-title-lg [&>h3]:before:font-mono [&>h3]:before:!text-title-sm
  [&>h4]:!text-title-lg [&>h4]:!mb-0 [&>h4]:!mt-6
  `}
>
  <slot />
</div>

<style is:global>
  .step h3 {
    counter-increment: step;
    margin-top: 0;
  }

  .step h3::before {
    position: absolute;
    display: inline-flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid hsl(var(--background));
    background-color: hsl(var(--primaryContainer));
    text-align: center;
    text-indent: -1px;
    color: hsl(var(--onPrimaryContainer));
    margin-left: -50px;
    margin-top: -2px;
    font-weight: 600;
    content: counter(step) !important;
  }
</style>
