---
import '@fontsource-variable/outfit'
import '@/styles/base.css'
import 'material-symbols/rounded.css'

import { ViewTransitions } from 'astro:transitions'

import { siteConfig } from '@/config/site'
import { SnackbarProvider } from '@/components/ui/snackbar'
import Theme from '@/components/react/theme'
import AppBar from '@/components/app-bar.astro'
import DevToolbar from '@/components/dev-toolbar.astro'
import Footer from '@/components/footer.astro'
import NavigationSideBar from '@/components/navigation-side-bar.astro'
import ThemeHandler from '@/components/theme-handler.astro'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || siteConfig.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="min-h-[100vh] max-w-[100vw] bg-background font-sans text-onBackground antialiased selection:bg-primary/30 dark:selection:text-surface"
  >
    <AppBar />
    <NavigationSideBar />
    <div class="flex flex-1 flex-col pt-16 md:ml-[88px] md:pt-0">
      <slot />
    </div>
    <ThemeHandler />
    <Theme client:only />
    <DevToolbar />
    <SnackbarProvider client:only />
    <Footer />
    <style is:global id="theme"></style>
  </body>
</html>
